{% extends "layout.html" %}

{% block title %}
    Add Books
{% endblock %}

{% block main %}
<form action="/add_book" method="post">
    <div class="mb-5">
        <h1>Add Books</h1>
    </div>
    <div class="mb-3 row justify-content-md-center">
        <label for="username" class="col-sm-auto col-form-label">Title</label>
        <div class="col-sm-auto">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" type="text">
        </div>
    </div>
    <div class="mb-3 row justify-content-md-center">
        <label for="password" class="col-sm-auto col-form-label">Publisher</label>
        <div class="col-sm-auto">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="publisher" name="publisher" type="text">
        </div>
    </div>
    <div class="mb-5 row justify-content-md-center">
        <label for="password" class="col-sm-auto col-form-label">Pages</label>
        <div class="col-sm-auto">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="pages" name="pages" type="number" min="1">
        </div>
    </div>
    <div class="mb-3 d-grid gap-2 col-2 mx-auto">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
{% endblock %}