{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="/search" method="get">
        <div class="my-5 text-center">
            <h1>Search</h1>
        </div>
        <div class="mb-5">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="query" name="q" placeholder="Search" type="search">
        </div>
        <div class="mb-3 d-grid gap-2 col-2 mx-auto">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
{% endblock %}