{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="/search" method="get">
        <div class="my-5 text-center">
            <h1>Search</h1>
        </div>
        <div class="mb-5">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="query" name="q" placeholder="Search" type="search">
        </div>
    </form>
    <div id="result">

    </div>
    <script>
        let input = document.querySelector("input");
        input.addEventListener("input", async function(){
            let response = await fetch("/search?q=" + input.value);
            let books = await response.text();

            document.querySelector("#result").innerHTML = books;
        });

    </script>
{% endblock %}