{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<form action="/account/login" method="post">
    <div class="mb-5">
        <h1>Log in</h1>
    </div>
    <div class="mb-3 row justify-content-md-center">
        <label for="username" class="col-sm-auto col-form-label">Username</label>
        <div class="col-sm-auto">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" type="text">
        </div>
    </div>
    <div class="mb-5 row justify-content-md-center">
        <label for="password" class="col-sm-auto col-form-label">Password</label>
        <div class="col-sm-auto">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" type="password">
        </div>
    </div>
    <div class="mb-3 d-grid gap-2 col-2 mx-auto">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
    <div class="mb-3">
        <div class="col-sm-auto">Don't have account?
            <a class="link-dark" href="/account/register">register</a>
        </div>
    </div>
</form>
{% endblock %}