{% extends "account.html" %}

{% block title %}
    My Books
{% endblock %}

{% block nav %}
<ul class="nav nav-tabs justify-content-center mx-5">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/account">Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/account/my_book">My Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/account/add_book">Add Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/account/remove_book">Remove Books</a>
    </li>
</ul>
{% endblock %}
{% block contain %}
<div class="text-center">  
    <div class="mb-5 container">
        <div class="row mb-3 justify-content-md-center">
            <h4>My Books</h4>
            
            <table class="table table-light w-75">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Pages</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <th class="pt-2"><a href="/static/uploads/{{book[6]}}#toolbar=0" class="link-dark text-decoration-none">{{ book[1] }}</a></th>
                            <th class="pt-2">{{ book[3] }} </td>
                            <td class="pt-2">{{ book[5] }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}